In [41]:
import pandas as pd
import glob

# Get all CSV files in the Data/AQI/ folder
csv_files = glob.glob("Data/AQI/*.csv")

# Read and merge all CSV files
df_list = [pd.read_csv(file) for file in csv_files]
merged_df = pd.concat(df_list, ignore_index=True)

# Save the merged DataFrame to a new CSV file
merged_df.to_csv("Data/AQI/merged_output.csv", index=False)

print("CSV files merged successfully into Data/AQI/merged_output.csv")

CSV files merged successfully into Data/AQI/merged_output.csv

In [42]:
df = merged_df

In [43]:
df.head()

       Date     Time  PM2.5 PM2.5 AQI
0  1/1/2013  1:00 AM  324.4       238
1  1/1/2013  2:00 AM  366.8       243
2  1/1/2013  3:00 AM  290.7       250
3  1/1/2013  4:00 AM  245.4       254
4  1/1/2013  5:00 AM  220.3       259

In [44]:
df.tail()

                       Date      Time PM2.5 PM2.5 AQI
105019           30-12-2014   8:00 PM   336       378
105020           30-12-2014   9:00 PM   461       381
105021           30-12-2014  10:00 PM   417       385
105022           30-12-2014  11:00 PM   419       384
105023  30/12/2014 24:00 AM       NaN   475       382

In [45]:
df.info

<bound method DataFrame.info of                        Date      Time  PM2.5 PM2.5 AQI
0                  1/1/2013   1:00 AM  324.4       238
1                  1/1/2013   2:00 AM  366.8       243
2                  1/1/2013   3:00 AM  290.7       250
3                  1/1/2013   4:00 AM  245.4       254
4                  1/1/2013   5:00 AM  220.3       259
...                     ...       ...    ...       ...
105019           30-12-2014   8:00 PM    336       378
105020           30-12-2014   9:00 PM    461       381
105021           30-12-2014  10:00 PM    417       385
105022           30-12-2014  11:00 PM    419       384
105023  30/12/2014 24:00 AM       NaN    475       382

[105024 rows x 4 columns]>

In [46]:
df.describe()

            Date     Time   PM2.5 PM2.5 AQI
count     105024   100650  105024     87504
unique      3262       24    1254       454
top     4/1/2013  1:00 AM  NoData    NoData
freq          69     4376    7698      8542

In [47]:
df.isnull().sum()

Date             0
Time          4374
PM2.5            0
PM2.5 AQI    17520
dtype: int64

In [48]:
import pandas as pd

# Replace "NoData" with NaN
df.replace("NoData", pd.NA, inplace=True)

# Convert PM2.5 and PM2.5 AQI to numeric
df.loc[:, 'PM2.5'] = pd.to_numeric(df['PM2.5'], errors='coerce')
df.loc[:, 'PM2.5 AQI'] = pd.to_numeric(df['PM2.5 AQI'], errors='coerce')

# Fill missing PM2.5 and PM2.5 AQI values with median
df.loc[:, 'PM2.5'] = df['PM2.5'].fillna(df['PM2.5'].median())
df.loc[:, 'PM2.5 AQI'] = df['PM2.5 AQI'].fillna(df['PM2.5 AQI'].median())

# Forward fill missing Time values
df.loc[:, 'Time'] = df['Time'].ffill()

C:\Users\misty\AppData\Local\Temp\ipykernel_43032\3435053318.py:11: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'PM2.5'] = df['PM2.5'].fillna(df['PM2.5'].median())
C:\Users\misty\AppData\Local\Temp\ipykernel_43032\3435053318.py:12: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, 'PM2.5 AQI'] = df['PM2.5 AQI'].fillna(df['PM2.5 AQI'].median())

In [49]:
df.isnull().sum()

Date         0
Time         0
PM2.5        0
PM2.5 AQI    0
dtype: int64

In [51]:
import pandas as pd

# Fix invalid 24:00 time
df['Time'] = df['Time'].replace({'24:00 AM': '12:00 AM'})  

# Convert Date and Time to a single timestamp (with dayfirst=True)
df['Timestamp'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format="%d-%m-%Y %I:%M %p", errors='coerce')

# Drop any rows where conversion failed
df = df.dropna(subset=['Timestamp'])

df.set_index('Timestamp', inplace=True)  # Set Timestamp as index

print(df.head(25))  # Verify changes

                           Date      Time  PM2.5 PM2.5 AQI
Timestamp
2013-01-01 01:00:00  01-01-2013   1:00 AM  324.4     238.0
2013-01-01 02:00:00  01-01-2013   2:00 AM  366.8     243.0
2013-01-01 03:00:00  01-01-2013   3:00 AM  290.7     250.0
2013-01-01 04:00:00  01-01-2013   4:00 AM  245.4     254.0
2013-01-01 05:00:00  01-01-2013   5:00 AM  220.3     259.0
2013-01-01 06:00:00  01-01-2013   6:00 AM  180.2     262.0
2013-01-01 07:00:00  01-01-2013   7:00 AM  140.0     264.0
2013-01-01 08:00:00  01-01-2013   8:00 AM  125.0     265.0
2013-01-01 09:00:00  01-01-2013   9:00 AM  111.0     265.0
2013-01-01 10:00:00  01-01-2013  10:00 AM  112.0     264.0
2013-01-01 11:00:00  01-01-2013  11:00 AM  129.4     263.0
2013-01-01 12:00:00  01-01-2013  12:00 PM  184.1     261.0
2013-01-01 13:00:00  01-01-2013   1:00 PM  284.8     261.0
2013-01-01 14:00:00  01-01-2013   2:00 PM  372.3     263.0
2013-01-01 15:00:00  01-01-2013   3:00 PM  456.7     270.0
2013-01-01 16:00:00  01-01-2013   4:00 PM  404.8     282.0
2013-01-01 17:00:00  01-01-2013   5:00 PM  328.1     290.0
2013-01-01 18:00:00  01-01-2013   6:00 PM  274.4     296.0
2013-01-01 19:00:00  01-01-2013   7:00 PM  285.0     299.0
2013-01-01 20:00:00  01-01-2013   8:00 PM  354.9     500.0
2013-01-01 21:00:00  01-01-2013   9:00 PM  395.5     500.0
2013-01-01 22:00:00  01-01-2013  10:00 PM  392.7     500.0
2013-01-01 23:00:00  01-01-2013  11:00 PM  442.1     500.0
2013-01-02 01:00:00  02-01-2013   1:00 AM  391.2     500.0
2013-01-02 02:00:00  02-01-2013   2:00 AM  375.1     500.0

C:\Users\misty\AppData\Local\Temp\ipykernel_43032\2338840072.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time'] = df['Time'].replace({'24:00 AM': '12:00 AM'})
C:\Users\misty\AppData\Local\Temp\ipykernel_43032\2338840072.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Timestamp'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format="%d-%m-%Y %I:%M %p", errors='coerce')

In [53]:
df['Time'] = df['Time'].replace({'24:00 AM': '12:00 AM'})
df['Timestamp'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format="%d-%m-%Y %I:%M %p", errors='coerce')

In [54]:
print(df.info())  # Should show non-zero entries
print(df.head())  # Should show actual data
print(df.isnull().sum())  # Check if 'Timestamp' is full of NaN

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 49888 entries, 2013-01-01 01:00:00 to 2014-12-30 23:00:00
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       49888 non-null  object
 1   Time       49888 non-null  object
 2   PM2.5      49888 non-null  object
 3   PM2.5 AQI  49888 non-null  object
 4   Timestamp  49888 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 2.3+ MB
None
                           Date     Time  PM2.5 PM2.5 AQI           Timestamp
Timestamp
2013-01-01 01:00:00  01-01-2013  1:00 AM  324.4     238.0 2013-01-01 01:00:00
2013-01-01 02:00:00  01-01-2013  2:00 AM  366.8     243.0 2013-01-01 02:00:00
2013-01-01 03:00:00  01-01-2013  3:00 AM  290.7     250.0 2013-01-01 03:00:00
2013-01-01 04:00:00  01-01-2013  4:00 AM  245.4     254.0 2013-01-01 04:00:00
2013-01-01 05:00:00  01-01-2013  5:00 AM  220.3     259.0 2013-01-01 05:00:00
Date         0
Time         0
PM2.5        0
PM2.5 AQI    0
Timestamp    0
dtype: int64

In [55]:
df.loc[:, 'PM2.5'] = pd.to_numeric(df['PM2.5'], errors='coerce')
df.loc[:, 'PM2.5 AQI'] = pd.to_numeric(df['PM2.5 AQI'], errors='coerce')

In [56]:
print(df.dtypes)  # PM2.5 should now be float64
print(df[['PM2.5', 'PM2.5 AQI']].describe())  # Check for NaNs and value distribution

Date                 object
Time                 object
PM2.5                object
PM2.5 AQI            object
Timestamp    datetime64[ns]
dtype: object
          PM2.5  PM2.5 AQI
count   49888.0    49888.0
unique   1220.0      451.0
top        81.0      167.0
freq     4054.0    12348.0

In [36]:
df = df.dropna(subset=['PM2.5'])

In [37]:
df['PM2.5'] = pd.to_numeric(df['PM2.5'], errors='coerce')

In [58]:
# Check actual data types
print(df.dtypes)

# Convert to string first, then strip spaces (only if it's an object column)
if df['PM2.5'].dtype == 'object':
    df['PM2.5'] = df['PM2.5'].astype(str).str.strip()
    df['PM2.5 AQI'] = df['PM2.5 AQI'].astype(str).str.strip()

# Convert to numeric, forcing errors to NaN
df['PM2.5'] = pd.to_numeric(df['PM2.5'], errors='coerce')
df['PM2.5 AQI'] = pd.to_numeric(df['PM2.5 AQI'], errors='coerce')

# Check if conversion was successful
print(df.dtypes)
print(df[['PM2.5', 'PM2.5 AQI']].describe())

Date                 object
Time                 object
PM2.5                object
PM2.5 AQI            object
Timestamp    datetime64[ns]
dtype: object
Date                 object
Time                 object
PM2.5               float64
PM2.5 AQI           float64
Timestamp    datetime64[ns]
dtype: object
              PM2.5     PM2.5 AQI
count  49888.000000  49888.000000
mean     114.527818    180.063723
std      101.054808     77.066213
min      -11.000000      0.000000
25%       46.000000    150.000000
50%       81.000000    167.000000
75%      152.000000    192.000000
max      981.000000    500.000000

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Create directory for saving graphs
save_dir = "static/eda_graphs/"
os.makedirs(save_dir, exist_ok=True)

# Plot 1: PM2.5 Distribution
plt.figure(figsize=(10, 6))
sns.histplot(df['PM2.5'], bins=50, kde=True, color='blue')
plt.title('PM2.5 Distribution')
plt.xlabel('PM2.5')
plt.ylabel('Frequency')
plt.savefig(os.path.join(save_dir, "pm25_distribution.png"))
plt.close()

# Plot 2: AQI over Time
plt.figure(figsize=(12, 6))
plt.plot(df['Timestamp'], df['PM2.5 AQI'], color='red', alpha=0.7)
plt.title('PM2.5 AQI Over Time')
plt.xlabel('Date')
plt.ylabel('PM2.5 AQI')
plt.xticks(rotation=45)
plt.savefig(os.path.join(save_dir, "aqi_over_time.png"))
plt.close()

# Plot 3: Boxplot of PM2.5 by Month
df['Month'] = df['Timestamp'].dt.month
plt.figure(figsize=(10, 6))
sns.boxplot(x=df['Month'], y=df['PM2.5'], palette='coolwarm')
plt.title('Monthly PM2.5 Levels')
plt.xlabel('Month')
plt.ylabel('PM2.5')
plt.savefig(os.path.join(save_dir, "monthly_pm25_boxplot.png"))
plt.close()

# Plot 4: PM2.5 vs. AQI Scatter Plot
plt.figure(figsize=(10, 6))
sns.scatterplot(x=df['PM2.5'], y=df['PM2.5 AQI'], alpha=0.5)
plt.title('PM2.5 vs PM2.5 AQI')
plt.xlabel('PM2.5')
plt.ylabel('PM2.5 AQI')
plt.savefig(os.path.join(save_dir, "pm25_vs_aqi_scatter.png"))
plt.close()

print(f"Graphs saved in {save_dir}")

C:\Users\misty\AppData\Local\Temp\ipykernel_43032\28003902.py:33: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.boxplot(x=df['Month'], y=df['PM2.5'], palette='coolwarm')

Graphs saved in graphs/eda_graphs/

In [63]:
# Plot 5: PM2.5 Trends by Day of the Week
df['DayOfWeek'] = df['Timestamp'].dt.day_name()
plt.figure(figsize=(10, 6))
sns.boxplot(x=df['DayOfWeek'], y=df['PM2.5'], palette='viridis', order=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])
plt.title('PM2.5 Levels by Day of the Week')
plt.xlabel('Day of the Week')
plt.ylabel('PM2.5')
plt.savefig(os.path.join(save_dir, "pm25_by_dayofweek.png"))
plt.close()

# Plot 6: Hourly PM2.5 Levels
df['Hour'] = df['Timestamp'].dt.hour
plt.figure(figsize=(10, 6))
sns.lineplot(x=df['Hour'], y=df['PM2.5'], estimator='mean', ci=None, marker='o')
plt.title('Average PM2.5 Levels by Hour of the Day')
plt.xlabel('Hour of the Day')
plt.ylabel('PM2.5')
plt.xticks(range(0, 24))
plt.savefig(os.path.join(save_dir, "pm25_by_hour.png"))
plt.close()

# Plot 7: Heatmap of Monthly and Hourly PM2.5
df_pivot = df.pivot_table(index=df['Hour'], columns=df['Month'], values='PM2.5', aggfunc='mean')
plt.figure(figsize=(12, 6))
sns.heatmap(df_pivot, cmap='coolwarm', annot=False)
plt.title('Heatmap of PM2.5 Levels (Hour vs Month)')
plt.xlabel('Month')
plt.ylabel('Hour of the Day')
plt.savefig(os.path.join(save_dir, "pm25_heatmap.png"))
plt.close()

C:\Users\misty\AppData\Local\Temp\ipykernel_43032\2888658488.py:4: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.boxplot(x=df['DayOfWeek'], y=df['PM2.5'], palette='viridis', order=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])
C:\Users\misty\AppData\Local\Temp\ipykernel_43032\2888658488.py:14: FutureWarning:

The `ci` parameter is deprecated. Use `errorbar=None` for the same effect.

  sns.lineplot(x=df['Hour'], y=df['PM2.5'], estimator='mean', ci=None, marker='o')